<% provide(:title, "Edit Movie") %>
<h1>Edit movie <%= @movie.title %></h1>
<h4>Here you can edit all the movies</h4>

<%= render partial: 'form' %>

<%= link_to "<< Back to the movie", movie_path(@movie) %>
