<% provide(:title, "New Movie") %>
<h1>Add a new movie</h1>
<h4>Add the movie of your choice adding the name, year and a brief description</h4>


<%= render partial: 'form' %>

<%= link_to "<< Back to the main list", root_path %>
