<h1><%= @tag.name %> Genre Movies</h1>

<ul>
  <% @tag.movies.each do |movie| %>
    <li> <%= link_to movie.title, movie_path(movie) %> </li>
  <% end %>
</ul>

<%= link_to '<< Back to tags list', tags_path %>