<h1>Reviews <%= @movie.reviews.count %></h1>
<% @movie.reviews.each do |review| %>
    <p>Review by: <%= review.author %> | Rating: <%= review.rating.to_i %></p>   
    <p><%= review.review %></p>
<% end %>